<footer>
		  <div class="container">
		    <div class="inner">
		      <div class="gnav_wrapper">
		        <nav class="gnav -color_white">
		          <div class="scroller -grid">
		            <div class="gnav__head">
		              <div class="logo">
		                <a href="/index.html" data-barba-prevent="">
		                  <img loading="lazy" decoding="async" src="/unomi.png" width="150" height="138" alt="UNOMI" style="object-fit: contain;">
		                </a>
		              </div>
		              <small class="copyright -font_manrope">© UNOMI Inc.</small>
		            </div>
		            <div class="gnav__main">
		              <div class="group group1">
		                <p class="title -font_unbounded">CONTENTS</p>
		                <ul class="fnav_list -font_manrope">
		                  <li><a href="/about.html" data-barba-prevent="" data-gradient-method="hover"
		                      data-gradient-color="white">ABOUT</a></li>
		                  <li><a href="/company/index.html" data-barba-prevent="" data-gradient-method="hover"
		                      data-gradient-color="white">COMPANY</a></li>
		                  <li><a href="/service/index.html" data-barba-prevent="" data-gradient-method="hover"
		                      data-gradient-color="white">SERVICE</a></li>
		                  <li><a href="/topics/index.html" data-barba-prevent="" data-gradient-method="hover"
		                      data-gradient-color="white">TOPICS</a></li>
		                  <li><a href="/recruit/index.html" data-barba-prevent="" data-gradient-method="hover"
		                      data-gradient-color="white">RECRUIT</a></li>
		                </ul>
		                <div class="other -font_manrope">
		                  <a href="/privacy-policy/index.html" data-barba-prevent="" data-gradient-method="hover" data-gradient-color="white">PRIVACY POLICY</a>
		                </div>
		              </div>
		              <div class="group group2">
		                <p class="title -font_unbounded">SOCIAL MEDIA</p>
		                <ul class="fnav_list -font_manrope">
		                  <li><a href="https://www.tiktok.com/@marusoull" target="_blank" data-gradient-method="hover" data-gradient-color="white">TikTok</a>
		                  </li>
		                  <li><a href="https://lin.ee/rdC8Yta" target="_blank" data-gradient-method="hover" data-gradient-color="white">Line</a>
		                  </li>
		                </ul>
		              </div>
		            </div>
		            <div class="gnav__foot">
		              <div id="contact" class="contact">
		                <a href="https://my.feishu.cn/share/base/form/shrcnGqqWxLeUGhjtuKnkkSwz7g" target="_blank" rel="noopener noreferrer">
		                  <p class="title -font_unbounded">CONTACT</p>
		                  <p class="description -textS">お仕事のご依頼・<br class="mb_only">ご相談は<br class="dt_only">こちらから
		                  </p>
		                  <div class="photo" data-hover="img">
		                    <picture>
		                      <source srcset="navi.png" media="(min-width: 769px)">
		                      <img loading="lazy" decoding="async" src="/navi.png" width="225" height="110" alt="CONTACT">
		                    </picture>
		                  </div>
		                  <!--
	データ
	color: black、white、accent
	status: anchor、
-->


<div class="-arrow1  accent">
  <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M0 6.88098L13.907 6.88098" stroke="" stroke-width="0.761905" vector-effect="non-scaling-stroke" />
		<path d="M7.78711 0.761902C7.78711 4.14138 10.5267 6.88098 13.9062 6.88098" stroke="" stroke-width="0.761905"
			vector-effect="non-scaling-stroke" />
		<path d="M7.78711 13.0001C7.78711 9.62059 10.5267 6.88098 13.9062 6.88098" stroke="" stroke-width="0.761905"
			vector-effect="non-scaling-stroke" />
	</svg>
</div>		                </a>
		              </div>
		            </div>
		          </div>
		        </nav>



		      </div>


		    </div>
		  </div>
		</footer>