---
layout: "base.njk"
permalink: "/recruit/index.html"
title: "RECRUIT | 株式会社UNOMI"
description: "同じ船に乗って未来へ進むメンバーを募集中。仲間と成長し、共に未来を創る。UNOMIでは、TikTokを中心としたコンテンツコマース事業の拡大に伴い、動画制作、ライブコマース運営、企業営業を担当するメンバーを募集しています。"
ogImage: "/wp2025/wp-content/uploads/2025/11/ogp.jpg"
ogType: "website"
bodyClass: "archive post-type-archive post-type-archive-recruit wp-theme-unomi pc mac dt chrome portrait mouse"
jsonldPartial: "seo/recruit.json"
---
{% raw %}
<main data-barba="container" data-barba-namespace="recruit_page">
  <article class="recruit_page">
    
<section class="-pagehead">
	<div class="container -grid_space">
		<div class="inner">
			<h1 class="heading -font_unbounded">RECRUIT</h1>
					</div>
	</div>
</section>
    <section class="summary">
      <div class="container -grid_space">
        <div class="inner">
          <div class="summary__head -grid">
            <h2 class="heading -font_unbounded" data-gradient-method="inview" data-gradient-color="black"><span class="default">同じ船に乗って<br>未来へ進むメンバーを募集中</span><span class="gradient" aria-hidden="true">同じ船に乗って<br>未来へ進むメンバーを募集中</span></h2>
            <p class="description -textM">仲間と成長し、共に未来を創る。</p>
          </div>
          <div class="summary__main">
            <div class="embla">
              <div class="embla__viewport">
                <div class="embla__container" style="transform: translate3d(-1212px, 0px, 0px);">
                  <div class="embla__slide photo" style="transform: translate3d(0px, 0px, 0px); translate: 0px;">
                    <img src="img/img2/1.jpg" width="1600" height="1068" alt="" loading="lazy" style="object-fit: cover; width: 100%; height: 100%;">
                  </div>
                  <div class="embla__slide photo" style="transform: translate3d(0px, 0px, 0px); translate: 0px;">
                    <img src="img/img2/2.jpg" width="1600" height="1068" alt="" loading="lazy" style="object-fit: cover; width: 100%; height: 100%;">
                  </div>
                  <div class="embla__slide photo" style="transform: translate3d(0px, 0px, 0px); translate: 0px;">
                    <img src="img/img2/3.JPG" width="1600" height="1066" alt="" loading="lazy" style="object-fit: cover; width: 100%; height: 100%;">
                  </div>
                  <div class="embla__slide photo" style="transform: translate3d(0px, 0px, 0px); translate: 0px;">
                    <img src="img/img2/4.JPG" width="1600" height="1066" alt="" loading="lazy" style="object-fit: cover; width: 100%; height: 100%;">
                  </div>
                  <div class="embla__slide photo" style="translate: 0px;">
                    <img src="img/img2/5.JPG" width="1600" height="995" alt="" loading="lazy" style="object-fit: cover; width: 100%; height: 100%;">
                  </div>
                  <div class="embla__slide photo" style="translate: 0px;">
                    <img src="img/img2/6.JPG" width="1200" height="1600" alt="" loading="lazy" style="object-fit: cover; width: 100%; height: 100%;">
                  </div>
                  <div class="embla__slide photo" style="translate: 0px;">
                    <img src="img/img2/1.jpg" width="1600" height="1068" alt="" loading="lazy" style="object-fit: cover; width: 100%; height: 100%;">
                  </div>
                  <div class="embla__slide photo" style="translate: 0px;">
                    <img src="img/img2/2.jpg" width="1600" height="1068" alt="" loading="lazy" style="object-fit: cover; width: 100%; height: 100%;">
                  </div>
                  <div class="embla__slide photo" style="translate: 0px;">
                    <img src="img/img2/3.JPG" width="1600" height="1066" alt="" loading="lazy" style="object-fit: cover; width: 100%; height: 100%;">
                  </div>
                  <div class="embla__slide photo" style="translate: 0px;">
                    <img src="img/img2/4.JPG" width="1600" height="1066" alt="" loading="lazy" style="object-fit: cover; width: 100%; height: 100%;">
                  </div>
                  <div class="embla__slide photo" style="translate: 0px;">
                    <img src="img/img2/5.JPG" width="1600" height="995" alt="" loading="lazy" style="object-fit: cover; width: 100%; height: 100%;">
                  </div>
                  <div class="embla__slide photo" style="translate: 0px;">
                    <img src="img/img2/6.JPG" width="1200" height="1600" alt="" loading="lazy" style="object-fit: cover; width: 100%; height: 100%;">
                  </div>
                  <div class="embla__slide photo" style="translate: 0px;">
                    <img src="img/img2/1.jpg" width="1600" height="1068" alt="" loading="lazy" style="object-fit: cover; width: 100%; height: 100%;">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="summary__foot -grid">
            <p class="description -textM">
              うのみは、ただの会社ではありません。<br>
              それぞれが夢や目標を持つ仲間が集まり、同じ船に乗って未来へ進むチームです。<br>
              私たちは社員を単なる労働力とは考えません。共に会社を創るパートナーであり、将来のオーナーでもあります。<br>
              挑戦する人を歓迎し、努力する人を正当に評価し、成長する人と共に会社も成長する。<br>
              一人ひとりの夢が、会社の未来になる。
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="recruit">
      <div class="container -grid_space">
        <div class="inner">
          
            <div class="recruit__head">
              <h2 class="heading -textL">現在募集中の職種</h2>
                          </div>
            <div class="recruit__main">
              <ul class="recruit_list">
                                    <li class="-grid current" data-order="1">
                      <h3 class="name -headingL">動画プロデューサー / ライブ配信運営担当 / B to B営業</h3>
                      <p class="description -textM -color_gray">様々なプロジェクトを包括的に見れる事業統括も募集します。業界未経験でもOKです。</p>
                      <div class="button -color_white">
                        <a href="https://my.feishu.cn/share/base/form/shrcnwro44HLgdMlEH1RIYcS8ZK" target="_blank" rel="noopener noreferrer">
                          <p class="title -font_unbounded -color_accent">ENTRY</p>
                          <p class="description -textS">エントリーフォームはこちら</p>
                          <!--
	データ
	color: black、white、accent
	status: anchor、
-->


<div class="-arrow1  accent" data-cloned="true">
  <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
		<path d="M0 6.88098L13.907 6.88098" stroke="" stroke-width="0.761905" vector-effect="non-scaling-stroke"></path>
		<path d="M7.78711 0.761902C7.78711 4.14138 10.5267 6.88098 13.9062 6.88098" stroke="" stroke-width="0.761905" vector-effect="non-scaling-stroke"></path>
		<path d="M7.78711 13.0001C7.78711 9.62059 10.5267 6.88098 13.9062 6.88098" stroke="" stroke-width="0.761905" vector-effect="non-scaling-stroke"></path>
	</svg>
<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg" style="translate: none; rotate: none; scale: none; transform: translate(-100%, 0%) translate(-8px, 0px);">
		<path d="M0 6.88098L13.907 6.88098" stroke="" stroke-width="0.761905" vector-effect="non-scaling-stroke"></path>
		<path d="M7.78711 0.761902C7.78711 4.14138 10.5267 6.88098 13.9062 6.88098" stroke="" stroke-width="0.761905" vector-effect="non-scaling-stroke"></path>
		<path d="M7.78711 13.0001C7.78711 9.62059 10.5267 6.88098 13.9062 6.88098" stroke="" stroke-width="0.761905" vector-effect="non-scaling-stroke"></path>
	</svg></div>                        </a>
                      </div>

                      <div class="detail">
                        <h4 class="heading">募集要項</h4>
                        <dl class="-definition_list -textM">
                                                                                    <div class="group">
                                <dt class="-color_gray">募集概要</dt>
                                <dd>UNOMIでは、TikTokを中心としたコンテンツコマース事業の拡大に伴い、動画制作、ライブコマース運営、企業営業を担当するメンバーを募集しています。<br>
急成長するコンテンツコマース市場において、ブランドとクリエイターの成長を支えるポジションです。</dd>
                              </div>
                                                          <div class="group">
                                <dt class="-color_gray">業務内容</dt>
                                <dd>TikTokを中心としたコンテンツコマース事業において、動画制作、ライブ配信運営、企業向け営業など、事業成長に関わる業務を担当していただきます。</dd>
                              </div>
                                                          <div class="group">
                                <dt class="-color_gray">具体的な業務例</dt>
                                <dd><strong>動画プロデューサー</strong><br>
・TikTokショート動画の企画・構成作成<br>
・撮影ディレクションおよび動画編集<br>
・トレンド分析および動画コンテンツの改善<br>
<br>
<strong>ライブ配信運営担当</strong><br>
・ライブ配信の企画および進行管理<br>
・配信者サポートおよびライブ現場オペレーション<br>
・売上データ分析およびライブ改善施策の実行<br>
<br>
<strong>BtoB営業</strong><br>
・日本企業へのTikTokマーケティング提案<br>
・新規クライアント開拓および関係構築<br>
・プロジェクト進行管理および顧客対応</dd>
                              </div>
                                                          <div class="group">
                                <dt class="-color_gray">応募資格</dt>
                                <dd>上記業務内容に沿った実務経験2年以上の方は大歓迎（もしくは同等のスキルをお持ちの方）<br>
・新しいことへのチャレンジ精神、向上心がある方<br>
・傾聴力があり、相手方の課題に寄り添える方<br>
・（優遇）：新規事業立ち上げの経験をお持ちの方<br>
・（優遇）：中国語スキル（ビジネス中国語レベルだとなお良し）</dd>
                              </div>
                                                          <div class="group">
                                <dt class="-color_gray">雇用形態</dt>
                                <dd>正社員<br>
※6カ月間の試用期間があります（その間の待遇・給与に変更はありません）</dd>
                              </div>
                                                          <div class="group">
                                <dt class="-color_gray">勤務地</dt>
                                <dd>東京都渋谷区渋谷2-14-5 渋谷クリエ5F</dd>
                              </div>
                                                          <div class="group">
                                <dt class="-color_gray">勤務時間</dt>
                                <dd>フレックスタイム制（コアタイム　10:00～15:00）<br>
※標準勤務時間　10:00〜19:00（休憩60分）</dd>
                              </div>
                                                          <div class="group">
                                <dt class="-color_gray">給与</dt>
                                <dd>月給26万円～80万円<br>
※経験・能力などを考慮し、協議の上決定<br>
※上記には固定残業代（20,000円/月5時間分）を含む</dd>
                              </div>
                                                          <div class="group">
                                <dt class="-color_gray">待遇</dt>
                                <dd>給与とは別に年2回の賞与あり<br>
※全社業績と個人評価に基づき決定<br>
社会保険加入（厚生年金・健康保険・雇用保険）・昇給制度・定期健康診断・交通費支給・育児休業・介護休業制度・子供手当 他</dd>
                              </div>
                                                          <div class="group">
                                <dt class="-color_gray">休日</dt>
                                <dd>週休2日制（土・日曜）、年末年始、会社カレンダーによりその他有給休暇・特別休暇他</dd>
                              </div>
                                                                              </dl>
                        <div class="button -color_white">
                          <a href="https://my.feishu.cn/share/base/form/shrcnwro44HLgdMlEH1RIYcS8ZK" target="_blank" rel="noopener noreferrer">
                            <p class="title -font_unbounded -color_accent">ENTRY</p>
                            <p class="description -textS">エントリーフォームはこちら</p>
                            <!--
	データ
	color: black、white、accent
	status: anchor、
-->


<div class="-arrow1  accent" data-cloned="true">
  <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
		<path d="M0 6.88098L13.907 6.88098" stroke="" stroke-width="0.761905" vector-effect="non-scaling-stroke"></path>
		<path d="M7.78711 0.761902C7.78711 4.14138 10.5267 6.88098 13.9062 6.88098" stroke="" stroke-width="0.761905" vector-effect="non-scaling-stroke"></path>
		<path d="M7.78711 13.0001C7.78711 9.62059 10.5267 6.88098 13.9062 6.88098" stroke="" stroke-width="0.761905" vector-effect="non-scaling-stroke"></path>
	</svg>
<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg" style="translate: none; rotate: none; scale: none; transform: translate(-100%, 0%) translate(-8px, 0px);">
		<path d="M0 6.88098L13.907 6.88098" stroke="" stroke-width="0.761905" vector-effect="non-scaling-stroke"></path>
		<path d="M7.78711 0.761902C7.78711 4.14138 10.5267 6.88098 13.9062 6.88098" stroke="" stroke-width="0.761905" vector-effect="non-scaling-stroke"></path>
		<path d="M7.78711 13.0001C7.78711 9.62059 10.5267 6.88098 13.9062 6.88098" stroke="" stroke-width="0.761905" vector-effect="non-scaling-stroke"></path>
	</svg></div>                          </a>
                        </div>
                      </div>
                    </li>
                              </ul>
            </div>
                  </div>
      </div>
    </section>

    
<section class="-tag_ticker">
  <div class="container">
    <div class="inner">
      <div class="tag_ticker__head">
        <h3 class="heading -font_unbounded">WE DO</h3>
      </div>
      <div class="tag_ticker__main">
        <div class="embla">
          <div class="embla__viewport">
            <ul class="embla__container">
              <li class="embla__slide">
                <a href="javascript:void(0)">
                  <span class="hash">#</span>
                  <span class="label" data-gradient-method="hover" data-gradient-color="black">SNS広告配信・運用代行</span>
                </a>
              </li>
              <li class="embla__slide">
                <a href="javascript:void(0)">
                  <span class="hash">#</span>
                  <span class="label" data-gradient-method="hover" data-gradient-color="black">ECライブコマース</span>
                </a>
              </li>
              <li class="embla__slide">
                <a href="javascript:void(0)">
                  <span class="hash">#</span>
                  <span class="label" data-gradient-method="hover" data-gradient-color="black">TikTok shop公式認定パートナー</span>
                </a>
              </li>
              <li class="embla__slide">
                <a href="javascript:void(0)">
                  <span class="hash">#</span>
                  <span class="label" data-gradient-method="hover" data-gradient-color="black">TikTok広告一次代理店</span>
                </a>
              </li>
              <li class="embla__slide">
                <a href="javascript:void(0)">
                  <span class="hash">#</span>
                  <span class="label" data-gradient-method="hover" data-gradient-color="black">動画コマース製作</span>
                </a>
              </li>
              <li class="embla__slide">
                <a href="javascript:void(0)">
                  <span class="hash">#</span>
                  <span class="label" data-gradient-method="hover" data-gradient-color="black">ライブコマース指導</span>
                </a>
              </li>
              <li class="embla__slide">
                <a href="javascript:void(0)">
                  <span class="hash">#</span>
                  <span class="label" data-gradient-method="hover" data-gradient-color="black">ライブ配信スクール</span>
                </a>
              </li>
              <li class="embla__slide">
                <a href="javascript:void(0)">
                  <span class="hash">#</span>
                  <span class="label" data-gradient-method="hover" data-gradient-color="black">TikTok shop運営代行</span>
                </a>
              </li>
              <li class="embla__slide">
                <a href="javascript:void(0)">
                  <span class="hash">#</span>
                  <span class="label" data-gradient-method="hover" data-gradient-color="black">コンテンツコマース</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    
<div class="-breadcrumbs">
  <div class="container -grid_space">
    <div class="inner">
      <ul class="breadcrumbs_list -textS">
                  <li>
                          <a href="/index.html" data-barba-prevent="">HOME</a>
                      </li>
                  <li>
                          RECRUIT                      </li>
              </ul>
    </div>
  </div>
</div>  </article>
</main>
{% endraw %}
