---
layout: "base.njk"
permalink: "/topics/index.html"
title: "TOPICS | 株式会社UNOMI"
description: "イベントの開催やお知らせなど、UNOMIのニュースをご紹介します。"
ogImage: "https://www.unomi-jp.com/wp2025/wp-content/uploads/2025/11/ogp.jpg"
ogType: "website"
bodyClass: "archive post-type-archive post-type-archive-topics wp-theme-unomi pc"
jsonldPartial: "seo/topics.json"
---
{% raw %}
<main data-barba="container" data-barba-namespace="topics_page">
  <article class="topics_page">
    
<section class="-pagehead">
	<div class="container -grid_space">
		<div class="inner">
			<h1 class="heading -font_unbounded">TOPICS</h1>
						<p class="description -textS -color_gray">
				イベントの開催やお知らせなど、UNOMIのニュースをご紹介します。			</p>
					</div>
	</div>
</section>
    <section class="topics">
      <div class="container -grid_space">
        <div class="inner">
          <div class="topics__main">
            <ul class="-topic_list">
                                <!--
	データ
	link: リンク先
	date: 日付
	category: カテゴリ
	heading: 記事名
-->

<li class="-topic_item">
	<a href="/topics/tiktok-shop-what-is.html">
		<div class="group">
			<time class="date -font_manrope -color_gray" datetime="2025.06.23">2025.06.23</time>
			<p class="category -textS -color_gray">コラム</p>
			<h3 class="heading -textM">TikTokショップとは？新時代の購買体験を徹底解説</h3>
		</div>
		<div class="link">
			<!--
	データ
	color: black、white、accent
	status: anchor、
-->


<div class="-arrow1  accent">
  <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M0 6.88098L13.907 6.88098" stroke="" stroke-width="0.761905" vector-effect="non-scaling-stroke" />
		<path d="M7.78711 0.761902C7.78711 4.14138 10.5267 6.88098 13.9062 6.88098" stroke="" stroke-width="0.761905"
			vector-effect="non-scaling-stroke" />
		<path d="M7.78711 13.0001C7.78711 9.62059 10.5267 6.88098 13.9062 6.88098" stroke="" stroke-width="0.761905"
			vector-effect="non-scaling-stroke" />
	</svg>
</div>		</div>
	</a>
</li>

<li class="-topic_item">
	<a href="/topics/tiktok-monetization-guide.html">
		<div class="group">
			<time class="date -font_manrope -color_gray" datetime="2025.06.22">2025.06.22</time>
			<p class="category -textS -color_gray">コラム</p>
			<h3 class="heading -textM">TikTokで収益化する！人気クリエイターが実践する稼ぎ方完全ガイド</h3>
		</div>
		<div class="link">
			<!--
	データ
	color: black、white、accent
	status: anchor、
-->


<div class="-arrow1  accent">
  <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M0 6.88098L13.907 6.88098" stroke="" stroke-width="0.761905" vector-effect="non-scaling-stroke" />
		<path d="M7.78711 0.761902C7.78711 4.14138 10.5267 6.88098 13.9062 6.88098" stroke="" stroke-width="0.761905"
			vector-effect="non-scaling-stroke" />
		<path d="M7.78711 13.0001C7.78711 9.62059 10.5267 6.88098 13.9062 6.88098" stroke="" stroke-width="0.761905"
			vector-effect="non-scaling-stroke" />
	</svg>
</div>		</div>
	</a>
</li>

<li class="-topic_item">
	<a href="/topics/tiktok-shop-accelerate-business.html">
		<div class="group">
			<time class="date -font_manrope -color_gray" datetime="2025.06.21">2025.06.21</time>
			<p class="category -textS -color_gray">コラム</p>
			<h3 class="heading -textM">【最新版】TikTokショップであなたのビジネスを加速させる方法</h3>
		</div>
		<div class="link">
			<!--
	データ
	color: black、white、accent
	status: anchor、
-->


<div class="-arrow1  accent">
  <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M0 6.88098L13.907 6.88098" stroke="" stroke-width="0.761905" vector-effect="non-scaling-stroke" />
		<path d="M7.78711 0.761902C7.78711 4.14138 10.5267 6.88098 13.9062 6.88098" stroke="" stroke-width="0.761905"
			vector-effect="non-scaling-stroke" />
		<path d="M7.78711 13.0001C7.78711 9.62059 10.5267 6.88098 13.9062 6.88098" stroke="" stroke-width="0.761905"
			vector-effect="non-scaling-stroke" />
	</svg>
</div>		</div>
	</a>
</li>
                          </ul>
          </div>
          <div class="topics__foot" aria-hidden="true"></div>
        </div>
      </div>
    </section>

    
<section class="-tag_ticker">
  <div class="container">
    <div class="inner">
      <div class="tag_ticker__head">
        <h3 class="heading -font_unbounded">WE DO</h3>
      </div>
      <div class="tag_ticker__main">
        <div class="embla">
          <div class="embla__viewport">
            <ul class="embla__container">
                              <li class="embla__slide">
                  <a href="https://www.unomi-jp.com/projects/service/food/">
                    <span class="hash">#</span>
                    <span class="label" data-gradient-method="hover" data-gradient-color="black">飲食事業</span>
                  </a>
                </li>
                              <li class="embla__slide">
                  <a href="https://www.unomi-jp.com/projects/think/think02/">
                    <span class="hash">#</span>
                    <span class="label" data-gradient-method="hover" data-gradient-color="black">公共空間を活用してまちを盛り上げる</span>
                  </a>
                </li>
                              <li class="embla__slide">
                  <a href="https://www.unomi-jp.com/projects/service/digital/">
                    <span class="hash">#</span>
                    <span class="label" data-gradient-method="hover" data-gradient-color="black">デジタルクリエイティブ事業</span>
                  </a>
                </li>
                              <li class="embla__slide">
                  <a href="https://www.unomi-jp.com/projects/tag/produce/">
                    <span class="hash">#</span>
                    <span class="label" data-gradient-method="hover" data-gradient-color="black">プロデュース</span>
                  </a>
                </li>
                              <li class="embla__slide">
                  <a href="https://www.unomi-jp.com/projects/tag/movie/">
                    <span class="hash">#</span>
                    <span class="label" data-gradient-method="hover" data-gradient-color="black">映像制作</span>
                  </a>
                </li>
                              <li class="embla__slide">
                  <a href="https://www.unomi-jp.com/projects/service/real-estate/">
                    <span class="hash">#</span>
                    <span class="label" data-gradient-method="hover" data-gradient-color="black">不動産開発</span>
                  </a>
                </li>
                              <li class="embla__slide">
                  <a href="https://www.unomi-jp.com/projects/think/think01/">
                    <span class="hash">#</span>
                    <span class="label" data-gradient-method="hover" data-gradient-color="black">世界のカルチャーを福岡に</span>
                  </a>
                </li>
                              <li class="embla__slide">
                  <a href="https://www.unomi-jp.com/projects/tag/projection-mapping/">
                    <span class="hash">#</span>
                    <span class="label" data-gradient-method="hover" data-gradient-color="black">プロジェクションマッピング</span>
                  </a>
                </li>
                              <li class="embla__slide">
                  <a href="https://www.unomi-jp.com/projects/service/event/">
                    <span class="hash">#</span>
                    <span class="label" data-gradient-method="hover" data-gradient-color="black">イベント事業</span>
                  </a>
                </li>
                          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    
<div class="-breadcrumbs">
  <div class="container -grid_space">
    <div class="inner">
      <ul class="breadcrumbs_list -textS">
                  <li>
                          <a href="/index.html" data-barba-prevent="">HOME</a>
                      </li>
                  <li>
                          TOPICS                      </li>
              </ul>
    </div>
  </div>
</div>  </article>
</main>
{% endraw %}
